/* grid-template-columns */

body {
display: flex;

flex-wrap: wrap;

justify-content: center;

background-color: white;
}


section {
  display: grid;

  grid-template-columns: repeat(3, 1fr);

  width: 90vh;

  height: 90vh;

  background-color: black;

  gap: 10px;
}

article {
height: 100%;

width: 100%;

font-size: 100px;

text-align: center;


}

article:nth-child(odd) {
 background-color: white;
}

article:nth-child(even) {
  background-color:white
}